In [24]:
import pandas as pd
# import sys
# !{sys.executable} -m pip install psycopg2

In [25]:
from sqlalchemy import create_engine

In [26]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
engine.connect()

In [28]:
query = """
SELECT 1;
"""

pd.read_sql(query, con=engine)

   ?column?
0         1

In [29]:
df = pd.read_csv("yellow_tripdata_2021-01.csv.gz", nrows=100)

In [7]:
query = """
SELECT * 
FROM pg_catalog.pg_tables 
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema'
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_2021-01.csv,root,None,False,False,False,False
1,public,yellow_tripdata_trip,root,None,False,False,False,False
2,public,yellow_taxi_data,root,None,True,False,False,False

In [8]:
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10 
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5

In [9]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv.gz", iterator=True, chunksize=100000)

In [10]:
df = next(df_iter) # Because dataset is massive, we insert it in chunks

In [11]:
len(df)

100000

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [14]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

1000

In [15]:
q = """
SELECT count(1)
FROM yellow_taxi_data
"""

pd.read_sql(q, con=engine)

    count
0  100000

In [16]:
from time import time
while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    
    t_end = time()
    
    print("inserted another chunk..., took %.3f seconds" % (t_end - t_start))

inserted another chunk..., took 14.490 seconds
inserted another chunk..., took 15.468 seconds
inserted another chunk..., took 15.299 seconds
inserted another chunk..., took 15.541 seconds
inserted another chunk..., took 14.556 seconds
inserted another chunk..., took 13.558 seconds
inserted another chunk..., took 17.524 seconds
inserted another chunk..., took 13.891 seconds
inserted another chunk..., took 13.336 seconds
inserted another chunk..., took 13.802 seconds
inserted another chunk..., took 12.895 seconds

C:\Users\aquid\AppData\Local\Temp\ipykernel_28392\281474882.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 12.929 seconds
inserted another chunk..., took 8.859 seconds

StopIteration:

In [19]:
q = """
SELECT *
FROM yellow_taxi_data
LIMIT (10)
"""

pd.read_sql(q, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
5,5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
6,6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0
7,7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5
8,8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0
9,9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5